CompileFlags:
  Add: [-std=c++23]
Diagnostics:
  ClangTidy:
    Add: '*'
    Remove: ['llvmlibc*','boost-use-ranges', 'modernize-use-trailing-return-type', 'altera-unroll-loops', 'fuchsia-default-arguments-calls']